div{
    width:300px;
    height: 500px;
    background-color: whitesmoke;
    margin: 0 auto;
}
div1{
    width: 230px;
    height: 70px;
    background-color: white;
    margin: 0 auto;
}
div2{
    width:74.5px;
    height: 50px;
    background-color: ghostwhite;
}
#t{
    border-top:black 1px solid ;
    border-bottom:black 1px solid ;
    border-left:black 1px solid ;
    border-right:black 1px solid ;
    box-shadow: gray 10px 20px 10px;
}
h1{
    text-indent: 2em;
    text-align: justify;
    line-height: 1px;
    font-weight: lighter;
    position: relative;
    top: 40px;
    left: 10px;
}
h2{
    text-indent: 2em;
    text-align: justify;
    line-height: 1px;
    font-weight: lighter;
    position: relative;
    top: 50px;
    left: 20px;
}
i0{
    position: relative;
    left: 200px;
    top: 0px;
}
#x1{
    position: absolute;
    top:140px;
    left:525px;
}
#x2{
    position: absolute;
    top:240px;
    left:525px;
}
#x3{
    position: absolute;
    top:340px;
    left:525px;
}
x1{
    position: relative;
    left:50px;
    top:10px;
}
x2{
    position: relative;
    left:50px;
    top:10px;
}
x3{
    position: relative;
    left:50px;
    top:10px;
}
i1{
    position: relative;
    left:30px;
    top:20px;
}
i2{
    position: relative;
    left:30px;
    top:20px;
}
i3{
    position: relative;
    left:30px;
    top:20px;
}
#z1{
    position: absolute;
    top:458.5px;
    left:490.5px;
    border: 0.5px solid black;
}
#z2{
    position: absolute;
    top:458.5px;
    left:565px;
    border: 0.5px solid black;
}
#z3{
    position: absolute;
    top:458.5px;
    left:639.5px;
    border: 0.5px solid black;
}
#z4{
    position: absolute;
    top:458.5px;
    left:714.5px;
    border: 0.5px solid black;
}
z1{
    width: 10px;
    height:10px;
    position: relative;
    left:-8px;
    top:20px;
}
z2{
    width: 10px;
    height:10px;
    position: relative;
    left:-8px;
    top:20px;
}
z3{
    width: 20px;
    height:10px;
    position: relative;
    left:-8px;
    top:20px;
}
z4{
    width: 10px;
    height:10px;
    position: relative;
    left:4px;
    top:20px;
}
zi1{
    width: 15px;
    height:15px;
    position: relative;
    left:25px;
    top:5px;
}
zi2{
    width: 15px;
    height:15px;
    position: relative;
    left:25px;
    top:5px;
}
zi3{
    width: 15px;
    height:15px;
    position: relative;
    left:25px;
    top:5px;
}
zi4{
    width: 15px;
    height:15px;
    position: relative;
    left:25px;
    top:5px;
}
